<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta content="text/html;charset=UTF-8"/>
        <title>Title</title>
    </head>

    <body>
        <form class="login-form" action="/users/register" method="post">
            <label>
                <input type="text" name="username" placeholder="Username"/>
            </label>
            <label>
                <input type="password" name="password" placeholder="Password"/>
            </label>
            <input type="submit" value="注册"/>
        </form>
    </body>
</html>